body{
    background-color: blue;
}
#tinyBox{
    background-color: orange;
    border: 3px;
    border-color: black;
    margin: auto;
    width: 700px;
    border-style: solid;
    border-color: black;
    padding-left: 1%;
}
h1{
    text-align: center;
    color: blue;    
}
img{
    width: 40%;
    
}
#imagen{
    text-align: center;
}